@model Frota_de_Veículos.Models.OrdemServico

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja excluir isto?</h3>
<div>
    <h4>OrdemServico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeCombustivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeCombustivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motorista.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motorista.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCombustivel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCombustivel.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
