@model Frota_de_Veículos.Models.OrdemServico

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>OrdemServico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeCombustivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeCombustivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motorista.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motorista.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCombustivel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCombustivel.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.OrdSerId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
