@model Frota_de_Veículos.Models.TipoCombustivel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>TipoCombustivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorLitro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorLitro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CombId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
