@model IEnumerable<Frota_de_Veículos.Models.Veiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VeiPlaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VeiCor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VeiMarca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCombustivel.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VeiPlaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiCor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiMarca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCombustivel.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.VeId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.VeId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.VeId })
        </td>
    </tr>
}

</table>
